<!DOCTYPE html>
{% load static %}

{% block extra_link %}
{% include "theme_link.html" %}
{% endblock %}

<!-- Header -->

<!-- Header desktop -->
<div class="container-menu-desktop">


	<div class="topbar">
		<div class="content-topbar container h-100">
			<div class="left-topbar">
				<span class="left-topbar-item flex-wr-s-c">
					<span>
						New York, NY
					</span>

					<img class="m-b-1 m-rl-8" src="{%static "theme/images/icons/icon-night.png" %}" alt="IMG">

					<span>
						HI 58Â° LO 56Â°
					</span>
				</span>

				<a href="#" class="left-topbar-item">
					About
				</a>

				<a href="#" class="left-topbar-item">
					Contact
				</a>

				{% if user.is_authenticated %}
				<a href="{% url "news_portal:news_create" %}" class="left-topbar-item">
					Create News
				</a>

				<a href="{% url "news_portal:news_create" %}" class="left-topbar-item">
					Draft News
				</a>

				<a href="#" class="left-topbar-item">
					Logout
				</a>
				{% else %}
				<a href="#" class="left-topbar-item">
					Sing up
				</a>

				<a href="#" class="left-topbar-item">
					Log in
				</a>
				{% endif %}


			</div>

			<div class="right-topbar">
				<a href="#">
					<span class="fab fa-facebook-f"></span>
				</a>

				<a href="#">
					<span class="fab fa-twitter"></span>
				</a>

				<a href="#">
					<span class="fab fa-pinterest-p"></span>
				</a>

				<a href="#">
					<span class="fab fa-vimeo-v"></span>
				</a>

				<a href="#">
					<span class="fab fa-youtube"></span>
				</a>
			</div>

		</div>
	</div>
	<!--  -->
	<div class="wrap-logo container">
		<!-- Logo desktop -->
		<div class="news-logo ">

			<a class="navbar-brand" href="{% url "news_portal:news_list" %}"><span class="logo-style loader ">V</span>oice
				<small>of</small>
				<span class="logo-style loader">P</span>ower</a>


			</div>

			<!-- Banner
			<div class="banner-header">
			<a href="#"><img src="images/banner-01.jpg" alt="IMG"></a>
		</div>
	-->
</div>

<!--  -->
<div class="wrap-main-nav">
	<div class="main-nav">
		<!-- Menu desktop -->
		<nav class="menu-desktop">
			<a class="logo-stick" href=>
				<img src="images/icons/logo-01.png" alt="LOGO">
			</a>

			<ul class="main-menu">
				<li class="main-menu-active">
					<a href="{% url "news_portal:news_list" %}">Home</a>
				</li>

				<li class="mega-menu-item">
					<a href="#">Entertainment </a>
				</li>

				<li class="mega-menu-item">
					<a href="#">Business</a>
				</li>

				<li class="mega-menu-item">
					<a href="#">Travel</a>
				</li>

				<li class="mega-menu-item">
					<a href="#">Life Style</a>
				</li>

				<li class="mega-menu-item">
					<a href="#">Video</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
