{% load static %}



<!--########################### Bootstrap Link ##########################-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--########################## Font Family #########################-->
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">

<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<link rel="stylesheet" href="{% static "css/mystyle.css" %}">

<!--##################### Awesome Font ######################-->
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
