{% load static %}



<!--===============================================================================================-->
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "theme/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static "theme/fonts/iconic/css/material-design-iconic-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "theme/vendor/animate/animate.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "theme/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static "theme/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================
	<link rel="stylesheet" type="text/css" href="{% static "theme/css/util.min.css" %}">-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "theme/css/main.css" %}">
<!--===============================================================================================-->
