{% extends "news_portal/news_portal_base.html" %}

{% load static %}

{% block title %}
    Comment
{% endblock %}

{% block content_body %}
<div class="card card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-info" name="" value="COMMENT">
    </form>
</div>
{% endblock %}
