{% extends "base.html"%}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content_body%}
    {% for news in news_list %}
        <h1><a href="{% url "news_portal:news_detail" pk=news.pk %}">{{news.subject}}</a></h1>
        <small>{{ news.news_tag }}</small>
    {% endfor %}

{% endblock %}
