{% extends 'base.html' %}
{% load static %}

{% block extra_link %}
    {% include "news_portal/custom_css/style.html" %}
{% endblock %}

{% block title %}
    Create
{% endblock %}

{% block top_navbar %}
{% endblock %}


{% block content_body %}
<div class="card card-body">
    <form class="post-form custom-font" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <button type="submit" class="save btn btn-success" name="button">
            Create Post</button>
    </form>
</div>

    <br>




<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}
