{% extends 'news_portal/news_portal_base.html' %}
{% load static %}



{% block title %}
{{news.subject}}
{% endblock %}





{% block content_body %}

<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 m-tb-6">
            <a href="index.html" class="">
                HOME <i class='fas fa-angle-right'></i>
            </a>

            <a href="blog-list-01.html" class="">
                NEWS <i class='fas fa-angle-right'></i>
            </a>

            <span class="">
                {{news.subject|upper}}
            </span>
        </div>
        <br>
        <!--
        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
        <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
        <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
        <i class="zmdi zmdi-search"></i>
    </button>
</div>
-->

<!-- ################################## Content ####################-->

<section class="bg0 p-b-140 p-t-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <!-- Blog Detail -->
                    <div class="p-b-70">
                        <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                            {{news.news_tag|title}}
                        </a>

                        <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                            {{news.subject|title}}
                        </h3>

                        <div class="flex-wr-s-s p-b-40">
                            <span class="f1-s-3 cl8 m-r-15">
                                <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                    by {{news.user.username|title}}
                                </a>

                                <span class="m-rl-3">-</span>

                                <span>
                                    {{news.published_date|date:"D d M Y"}}
                                </span>
                            </span>
                        </div>

                        <!--
                        <div class="wrap-pic-max-w p-b-30">
                        <img src="" alt="IMG">
                    </div>-->

                    <p class="f1-s-11 cl6 p-b-25">
                        {{news.news|linebreaks}}
                    </p>


                    <!-- Tag -->
                    <div class="flex-s-s p-t-12 p-b-15">
                        <span class="f1-s-12 cl5 m-r-8">
                            Tags:
                        </span>

                        <div class="flex-wr-s-s size-w-0">
                            <a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
                                {{news.news_tag}}
                            </a>


                        </div>
                    </div>
                </div>

                <div class="">
                    <!--
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#comment-form" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Add Comment
                    </p>
                </a>-->
                    <p> <a class="btn btn-primary" href="{% url "news_portal:news_comment" pk=news.pk %}">
                        Add Comment</a></p>
                    <hr>
                    <br>
                    <br>
                    <div class="collapse" id="comment-form" >
                        <div class="card card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" class="btn btn-info" name="" value="COMMENT">
                            </form>
                        </div>
                        <br>
                    </div>



                    <div class="jumbotron custom-font">
                        <h3>Comments</h3>
                        {% if news.comments.all %}

                        {% for comment in news.comments.all %}
                        <p class=""><b>{{comment.name}}</b> - <span class="custom-font-small">{{comment.created_date|date:"D d m Y"}}</span> </p>

                        <div class="card card-body">
                            <p>{{comment.text}}</p>
                        </div>
                        <br>

                        {% endfor %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


        <!-- Sidebar -->
        <div class="col-md-10 col-lg-4 p-b-30">
            <div class="p-l-10 p-rl-0-sr991 p-t-70">
                <div class="p-b-60">
                    <div class="how2 how2-cl4 flex-s-c">
                        <h3 class="f1-m-2 cl3 tab01-title">
                            Category
                        </h3>
                    </div>

                    <ul class="p-t-35">
                        <li class="how-bor3 p-rl-4">
                            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                Fashion
                            </a>
                        </li>

                        <li class="how-bor3 p-rl-4">
                            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                Beauty
                            </a>
                        </li>

                        <li class="how-bor3 p-rl-4">
                            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                Street Style
                            </a>
                        </li>

                        <li class="how-bor3 p-rl-4">
                            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                Life Style
                            </a>
                        </li>

                        <li class="how-bor3 p-rl-4">
                            <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                DIY & Crafts
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>



    </div>
</div>

</section>

</div>
</div>

{% endblock %}
