.wrap-logo .news-logo a{
    font-size: 2em;
    color: #001a00;
    font-family: 'Fondamento', cursive;
}


.logo-style{
    /* font-family: 'Galada', cursive; */
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    padding-right: auto;
    color:#800000;
    font-size: 1.5em;
}


.loader {
  filter:hue-rotate(0deg);
  background:linear-gradient(45deg,#0f8,#08f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:hue 10000ms infinite linear;
}

.custom-font{
    font-size: 1.2em;
}

.custom-font-small{
    font-size: .7em;
}



@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}
